table {
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 2px #bbb;
}

table {
  border-collapse: collapse;
}

table caption {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

table thead tr:first-child th {
  color: #7d7d7d;
  position: relative;
  border-bottom: 1px solid #0000001a;
}

table tr td.action-column {
  background-color: white;
  width: 10px;
}

table tr td.action-column button {
  background-color: white;
  border: 1px solid #0000001a;
  border-radius: 30%;
  cursor: pointer;
  outline: 0;
}

table thead tr:first-child th:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1rem;
  width: 2px;
  background-color: #0000001a;
}

table tbody tr:nth-child(even):not(:last-child) {
  background-color: #fafafa;
}

table td,
th {
  word-wrap: wrap;
  text-align: left;
  padding: 0.4rem 0.8rem;
}

form {
  width: 100%;
}

input {
  border: none;
  width: 100%;
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;
  outline: 0;
}
